<div id="carouselExample" class="carousel slide font">
  
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a routerLink="/products">
                                <img class="pic-1" src="/assets/images/bellyboatsavagegear.jpg">
                                <img class="pic-2" src="/assets/images/savage_gear_high_rider_v2_belly_boat_150.png">
                            </a>
                            <span class="product-new-label">Sconto</span>
                            <span class="product-discount-label">30%</span>
                        </div>
                        <h6>Mulinello ABU Garcia Revo-Ike</h6>
                        <div>
                            <!-- <ul class="rating">
                                <li> <fa-icon [icon]="faStar" class="fa-star" [ngClass]="getStarRating(1)"></fa-icon>
                                </li>
                                <li> <fa-icon [icon]="faStar" class="fa-star" [ngClass]="getStarRating(2)"></fa-icon>
                                </li>
                                <li> <fa-icon [icon]="faStar" class="fa-star" [ngClass]="getStarRating(3)"></fa-icon>
                                </li>
                                <li> <fa-icon [icon]="faStar" class="fa-star" [ngClass]="getStarRating(4)"></fa-icon>
                                </li>
                                <li> <fa-icon [icon]="faStar" class="fa-star" [ngClass]="getStarRating(5)"></fa-icon>
                                </li>
                            </ul> -->
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Spinninig</a></h3>
                            <div class="price">650.00
                                <span>700</span>
                            </div>
                            <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="pages/pagina_prodotto.html">
                                <img class="pic-1" src="../../../assets/images/abu-garcia-salty-stage-concept-free-1.png">
                                <img class="pic-2" src="../../../assets/images/abu-garcia-salty-stage-concept-free-2.png">
                            </a>
                            <span class="product-new-label">Sconto</span>
                            <span class="product-discount-label">30%</span>
                        </div>
                        <h6>Mulinello ABU Garcia salty-stage-concept</h6>
                        <!-- <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul> -->
                        <div class="product-content">
                            <h3 class="title"><a href="#">Mulinelli</a></h3>
                            <div class="price">€50.00
                                <span>55.00</span>
                            </div>
                            <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="pages/pagina_prodotto.html">
                                <img class="pic-1" src="../../../assets/images/muta-seac.png">
                                <img class="pic-2" src="../../../assets/images/muta-seac-modello.png">
                            </a>
                            <span class="product-new-label">Sconto</span>
                            <span class="product-discount-label">30%</span>
                        </div>
                        <h6>Muta Seac Sport</h6>
                        <!-- <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul> -->
                        <div class="product-content">
                            <h3 class="title"><a href="#">Subacquea</a></h3>
                            <div class="price">€21.00
                                <span>€30.00</span>
                            </div>
                            <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="pages/pagina_prodotto.html">
                                <img class="pic-1" src="../../../assets/images/c4-fucile-subacquei-gladius-camo-ocean-95.jpg">
                                <img class="pic-2" src="../../../assets/images/fucile-seac2.png">
                            </a>
                            <span class="product-new-label">Sconto</span>
                            <span class="product-discount-label">30%</span>
                        </div>
                        <h6>Seac Gladius Camo Ocean-95</h6>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Subacquea</a></h3>
                            <div class="price">€21.00
                                <span>€30.00</span>
                            </div>
                            <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="">
                                <img class="pic-1 bd-placeholder-img bd-placeholder-img-lg d-block w-100"
                                    aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
                                    src="assets/images/Stickbait FCL LABO CSP180S 100 gr Sink1.png"
                                    focusable="false">
                                <img class="pic-2 bd-placeholder-img bd-placeholder-img-lg d-block w-100"
                                    aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice"
                                    src="assets/images/Stickbait FCL LABO CSP180S 100 gr Sink2.png"
                                    focusable="false">
                            </a>
                            <span class="product-new-label">Sconto</span>
                            <span class="product-discount-label">20%</span>
                            <h6>King slider</h6>
                           
                        </div>
                        <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star disable"></li>
                        </ul>
                        <div class="product-content">
                            <h3 class="title"><a href="pages/Abbigliamento_sportivo.html">Spinning</a></h3>
                            <div class="price">€16.00
                                <span>€20.00</span>
                            </div>
                            <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="pages/pagina_prodotto.html">
                                <img class="pic-1" src="assets/images/Trabucco-XTR-Surf-Team-Finger-Protector.png">
                                <img class="pic-2" src="assets/images/trabucco-xtr-finger-stall-2-scaled.jpg">
                            </a>
                            <span class="product-new-label">Sconto</span>
                            <span class="product-discount-label">30%</span>
                        </div>
                        <h6 class="mb-3">Trabucco XTR Surf Team Finger Protector</h6>
                        <!-- <ul class="rating"> -->
                            <!-- <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul> -->
                        <div class="product-content">
                            <h3 class="title"><a href="#">Surfcasting</a></h3>
                            <div class="price">€21.00
                                <span>€30.00</span>
                            </div>
                            <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="pages/pagina_prodotto.html">
                                <img class="pic-1" src="/assets/images/71-6PzmkYLL._AC_UL600_SR600,600_.jpg">
                                <img class="pic-2" src="/assets/images/s1500e.png">
                            </a>
                            <span class="product-new-label">Sconto</span>
                            <span class="product-discount-label">30%</span>
                        </div>
                        <h6>Mulinello Maver darkside 10000 FRONT DRAG</h6>
                        <!-- <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul> -->
                        <div class="product-content">
                            <h3 class="title"><a href="#">Mulinelli</a></h3>
                            <div class="price">150.00
                                <span>180.00</span>
                            </div>
                            <a class="add-to-cart" routerLink="">+ Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a href="pages/pagina_prodotto.html">
                                <img class="pic-1" src="../../../assets/images/abu-revo-myke.png">
                                <img class="pic-2" src="../../../assets/images/abu-revo-myke2.png">
                                
                            </a>
                            <span class="product-new-label">Sconto</span>
                            <span class="product-discount-label">30%</span>
                        </div>
                        <h6>Mulinello ABU Garcia Revo-Ike</h6>
                        <!-- <ul class="rating">
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                            <li class="fa fa-star"></li>
                        </ul> -->
                        <div class="product-content">
                            <h3 class="title"><a href="#">Uomo</a></h3>
                            <div class="price">€21.00
                                <span>€30.00</span>
                            </div>
                            <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
        <button class="carousel-control-prev fa-xl fa-rotate-180" type="button"
        data-bs-target="#carouselExample" data-bs-slide="prev"><fa-icon class="text-black"
            [icon]="faArrowRight"></fa-icon>

    </button>



    <button class="carousel-control-next fa-xl" type="button" data-bs-target="#carouselExample"
        data-bs-slide="next"><fa-icon class="text-black" [icon]="faArrowRight"></fa-icon>

    </button>
    <!-- <button class="carousel-control-prev fa-xl" type="button" data-bs-target="#carouselExample"
    data-bs-slide="prev"><fa-icon [icon]="faArrowLeft"></fa-icon>
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next fa-xl fa-rotate-180" type="button" data-bs-target="#carouselExample"
    data-bs-slide="next"><fa-icon [icon]="faarrowright"></fa-icon>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button> -->
</div>
</div>
