
<div class="container-fluid font">
  <div class="row">
      <div class="col-md-2">
          <app-aside></app-aside>
      </div>
      <div class="col-md-9 d-flex justify-content-around flex-wrap">

<div class="product-grid my-3" style="width: 20em" *ngFor="let prodotto of bologneseArray">
  <div class="product-image d-flex justify-content-center zoombanner">
      <a [routerLink]="['/products', 1]">
          <img src="assets/images/Mulinello Abu Garcia Revo IKE (Mike Iaconelli).png" class="card-img-top"
              alt="...">
      </a>

  </div>
  <h6> {{ prodotto.nome }}</h6>
  
  
  <!-- <ng-template #templb>
      <p>non ci sono recensioni</p>
  </ng-template> -->
 
  <div class="rating">
    
    <fa-icon *ngFor="let _ of [].constructor(prodotto.rating); let i = index" [icon]="faStar" class="fa-star checked"></fa-icon>


  </div>

  <div class="product-content">
      <h3 class="title"><a href="#">Mulinelli</a></h3>
      <div class="price"> {{ prodotto.prezzo }}
          <span> {{ prodotto.prezzo }}</span>
      </div>
      <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
  </div>
</div>
</div></div></div>