

<ng-template #oneStarTemplate>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
</ng-template>

<ng-template #twoStarTemplate>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
</ng-template>

<ng-template #threeStarTemplate>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
</ng-template>

<ng-template #fourStarTemplate>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
</ng-template>

<ng-template #fiveStarTemplate>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
  <fa-icon [icon]="faStar" class="fa-star checked"></fa-icon>
</ng-template>

<div class="container-fluid font">
  <div class="row">
      <div class="col-md-2">
          <app-aside></app-aside>
      </div>
      <div class="col-md-9 d-flex justify-content-around flex-wrap">

<div class="product-grid my-3" style="width: 20em" *ngFor="let prodotto of bologneseArray">
  <div class="product-image d-flex justify-content-center zoombanner">
      <a [routerLink]="['/products', 1]">
          <img src="assets/images/Mulinello Abu Garcia Revo IKE (Mike Iaconelli).png" class="card-img-top"
              alt="...">
      </a>

  </div>
  <h6> {{ prodotto.nome }}</h6>
  
  
  <!-- <ng-template #templb>
      <p>non ci sono recensioni</p>
  </ng-template> -->
 
  <div class="rating">
     
    <ng-container *ngIf="prodotto.rating === 1; then  oneStarTemplate"></ng-container>
    <ng-container *ngIf="prodotto.rating === 2; then twoStarTemplate"></ng-container>
    <ng-container *ngIf="prodotto.rating === 3; then threeStarTemplate"></ng-container>
    <ng-container *ngIf="prodotto.rating === 4; then fourStarTemplate"></ng-container>
    <ng-container *ngIf="prodotto.rating === 5; then fiveStarTemplate"></ng-container>


  </div>

  <div class="product-content">
      <h3 class="title"><a href="#">Mulinelli</a></h3>
      <div class="price"> {{ prodotto.prezzo }}
          <span> {{ prodotto.prezzo }}</span>
      </div>
      <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
  </div>
</div>
</div></div></div>

<!-- <div *ngFor="let prodotto of bologneseArray">
  <div class="prodotto">
    <h3>{{ prodotto.nome }}</h3>
    <p>Codice: {{ prodotto.codice }}</p>
    <p>Prezzo: {{ prodotto.prezzo }}</p>
    <div class="rating">
     
      <ng-container *ngIf="prodotto.rating === 1; then  oneStarTemplate"></ng-container>
      <ng-container *ngIf="prodotto.rating === 2; then twoStarTemplate"></ng-container>
      <ng-container *ngIf="prodotto.rating === 3; then threeStarTemplate"></ng-container>
      <ng-container *ngIf="prodotto.rating === 4; then fourStarTemplate"></ng-container>
      <ng-container *ngIf="prodotto.rating === 5; then fiveStarTemplate"></ng-container>


    </div>
  </div>
</div> -->