<div class="container-fluid font">
    <div class="row">
        <div class="col-md-2">
            <app-aside></app-aside>
        </div>
        <div class="col-md-9 d-flex justify-content-around flex-wrap">
            <div class="product-grid my-3" style="width: 20em" *ngFor="let prodotto of spinningArray"
                style="width: 20em;">
                <div class="product-image zoombanner">
                    <a routerLink="/products">
                        <img src="assets/images/Mulinello Abu Garcia Revo IKE (Mike Iaconelli).png" class="card-img-top"
                            alt="...">
                    </a>

                </div>
                <h6> {{ prodotto.nome }}</h6>
                <app-rating [prodotto]="prodotto"></app-rating>
            </div>
        </div>
    </div>