<div class="container-fluid font">
    <div class="row">
        <div class="col-md-2">
            <app-aside></app-aside>
        </div>
        <div class="col-md-9 d-flex justify-content-around flex-wrap">
            <div class="card mb-5 " style="width: 18rem;">
                <div class="cont-contenitore-banner">
                    <div class="contenitore-banner">
                        <img src="../../../assets/images/mulgiallo.png" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="card-icons justify-content-center mt-5">
                    <fa-icon [icon]="faheart" class="rounded-circle icon-large"></fa-icon>
                    <!-- <i class="bi bi-share icon-large"></i> -->
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="checkout.html" class="btn btn-primary">Add and pay</a>
                </div>
            </div>
            <div class="card  mb-5" style="width: 18rem;">
                <img src="../../../assets/images/5069.jpg" class="card-img-top" alt="...">
                <div class="card-icons justify-content-center mt-5">
                    <i class="bi bi-heart icon-large mx-3"></i>
                    <i class="bi bi-share  icon-large"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="carrello.html" class="btn btn-primary">Add and pay</a>
                </div>
            </div>



            <div class="card  mb-5" style="width: 18rem;">
                <img src="../../../assets/images/mulviola.png" class="card-img-top" alt="...">
                <div class="card-icons justify-content-center rounded-circle mt-5">
                    <fa-icon [icon]="faheart" class="icon-large rounded-circle"></fa-icon>
                    <i class="fa-solid fa-heart  icon-large"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="carrello.html" class="btn btn-primary">Add and pay</a>

                </div>
            </div>
            <div class="card mb-5" style="width: 18rem;">
                <img src="../../../assets/images/oro.jpg" class="card-img-top" alt="...">

                <div class="card-icons text-center">
                    <i class="bi bi-heart icon-large"></i>
                    <i class="bi bi-share  icon-large"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="carrello.html" class="btn btn-primary">Add and pay</a>

                </div>
            </div>
            
            <div class="card  mb-5" style="width: 18rem;">
                <img src="../../../assets/images/11995shallr05-shimano-borsa-pesca-3_1.jpg" class="card-img-top"
                    alt="...">
                <div class="card-icons justify-content-center mt-4">
                    <i class="bi bi-heart icon-large mx-3"></i>
                    <i class="bi bi-share  icon-large"></i>
                </div>


                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="carrello.html" class="btn btn-primary">Add and pay</a>

                </div>
            </div>
            <div class="card mb-5" style="width: 18rem;">
                <img src="../../../assets/images/glidebait-shimano-exsence-armajoint-190f-008-tr-sardine_1920x1920.jpeg"
                    class="card-img-top" alt="...">
                <div class="card-icons justify-content-center mt-5">
                    <i class="bi bi-heart icon-large"></i>
                    <i class="bi bi-share  icon-large"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="carrello.html" class="btn btn-primary">Add and pay</a>

                </div>
            </div>
            <div class="card mb-5" style="width: 18rem;">
                <img src="../../../assets/images/Progetto senza titolo(2.png" class="card-img-top" alt="...">
                <div class="card-icons justify-content-center mt-5">
                    <i class="bi bi-heart icon-large mx-3"></i>
                    <i class="bi bi-share  icon-large"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    <a href="carrello.html" class="btn btn-primary">Add and pay</a>
                </div>
            </div>
        </div>
    </div>
</div>