<div class="container-fluid font">
    <div class="row">
        <div class="col-md-2">
            <app-aside></app-aside>
        </div>
        <div class="col-md-9 d-flex justify-content-around flex-wrap">
            <div class="product-grid my-3" style="width: 20em" *ngFor="let prodotto of spinningArray"
                style="width: 20em;">
                <div class="product-image zoombanner">
                    <a routerLink="/products">
                        <img src="assets/images/Mulinello Abu Garcia Revo IKE (Mike Iaconelli).png" class="card-img-top"
                            alt="...">
                    </a>

                </div>
                <h6> {{ prodotto.nome }}</h6>
                <div class="rating">
                    <ng-container *ngIf="prodotto.rating > 0 && prodotto.rating >= 5">
                        <div class="alert alert-success text-center" role="alert">
                            <fa-icon *ngFor="let _ of [].constructor(prodotto.rating); let i = index" [icon]="faStar"
                                class="fa-star checked"></fa-icon>
                            <p>Valutazione massima </p>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="prodotto.rating > 0 && prodotto.rating < 5">
                        <fa-icon *ngFor="let _ of [].constructor(prodotto.rating); let i = index" [icon]="faStar"
                            class="fa-star checked"></fa-icon>
                    </ng-container>
                    <ng-container *ngIf="prodotto.rating <=0">
                        <div class="alert alert-danger text-center" role="alert">
                            <p>Nessuna recensione</p>
                        </div>
                    </ng-container>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Mulinelli</a></h3>
                        <div class="price">{{prodotto.prezzo}}
                            <span>220</span>
                        </div>
                        <!-- <a class="add-to-cart"  (click)="aggiungiAlCarrello()">+ Aggiungi al carrello</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>