<div class="container-fluid font">
    <div class="row">
        <div class="col-md-2">
            <app-aside></app-aside>
        </div>
        <div class="col-md-9 d-flex justify-content-around flex-wrap">


            <div class="product-grid my-3" style="width: 20em">
                <div class="product-image d-flex justify-content-center zoombanner">
                    <a [routerLink]="['/products', 1]">
                        <img src="assets/images/Mulinello Abu Garcia Revo IKE (Mike Iaconelli).png" class="card-img-top"
                            alt="...">
                    </a>

                </div>
                <h6> ABU GARCIA IACONELLI REVO IKE</h6>
                <ng-template #templa>
                    <div class="my-2 d-flex justify-content-center align-items-start">
                        <ul class="rating">
                            <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                            <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                            <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                            <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        </ul>
                    </div>
                </ng-template>
                <!-- <ng-template #templb>
                    <p>non ci sono recensioni</p>
                </ng-template> -->
                <ng-container *ngTemplateOutlet="templa"></ng-container>


                <div class="product-content">
                    <h3 class="title"><a href="#">Mulinelli</a></h3>
                    <div class="price">190.9€
                        <span>220</span>
                    </div>
                    <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
                </div>
            </div>
            <div class="product-grid my-3" style="width: 20em">
                <div class="product-image zoombanner">
                    <a [routerLink]="['/products', 2]">
                        <img src="assets/images/mulgiallo.png" class="card-img-top" alt="...">
                    </a>

                </div>
                <h6>TICA-TUNA MASTER EDITION</h6>
                <!-- <div class="my-2 d-flex justify-content-center align-items-start">
                    <ul class="rating">
                        <li> <fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                    </ul>
                </div> -->
                <ng-container *ngTemplateOutlet="templa"></ng-container>

                <div class="product-content">
                    <h3 class="title"><a routerLink="['/products', 2]">Mulinelli</a></h3>
                    <div class="price">100.00€
                        <span>220</span>
                    </div>
                    <a class="add-to-cart" routerLink="">+ Aggiungi al carrello</a>
                </div>
            </div>




            <div class="product-grid my-3" style="width: 20em">
                <div class="product-image zoombanner">
                    <a [routerLink]="['/products', 1]">
                        <img src="assets/images/DAIWA-TANACOM-1000E.jpg" class="card-img-top" alt="...">
                    </a>

                </div>
                <h6>DAIWA TANACOM 1000 E</h6>
                <!-- <div class="my-2 d-flex justify-content-center align-items-start">
                    <ul class="rating">
                        <li> <fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                    </ul>
                </div> -->
                <ng-container *ngTemplateOutlet="templa"></ng-container>

                <div class="product-content">
                    <h3 class="title"><a href="#">Mulinelli</a></h3>
                    <div class="price">250.00€

                    </div>
                    <a class="add-to-cart" href="">+ Aggiungi al carrello</a>
                </div>
            </div>
            <div class="product-grid my-3" style="width: 20em">
                <div class="product-image zoombanner">
                    <a [routerLink]="">
                        <img src="assets/images/ticatunamasteredition.jpg" class="card-img-top" alt="...">
                    </a>

                </div>
                <h6>MULINELLO NOMURA SUMO </h6>
                <div class="my-2 d-flex justify-content-center align-items-start">
                    <ul class="rating">
                        <li> <fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a routerLink="['/products', 2]">Mulinelli</a></h3>
                    <div class="price">100.00€
                        <span>220</span>
                    </div>
                    <a class="add-to-cart" routerLink="">+ Aggiungi al carrello</a>
                </div>
            </div>


            <div class="product-grid my-3" style="width: 20rem;">
                <div class="product-image zoombanner">
                    <a [routerLink]="">
                        <img src="assets/images/71-6PzmkYLL._AC_UL600_SR600,600_.jpg" class="card-img-top" alt="...">
                    </a>

                </div>
                <h6>MAVER DARKSIDE FRONT-DRAG</h6>
                <div class="my-2 d-flex justify-content-center align-items-start">
                    <ul class="rating">
                        <li> <fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a routerLink="['/products', 2]">Mulinelli</a></h3>
                    <div class="price">100.00€
                        <span>220</span>
                    </div>
                    <a class="add-to-cart" routerLink="">+ Aggiungi al carrello</a>
                </div>
            </div>
            <div class="product-grid my-3" style="width: 20rem;">
                <div class="product-image zoombanner">
                    <a [routerLink]="">
                        <img src="assets/images/mulviola.png" class="card-img-top" alt="...">
                    </a>

                </div>
                <h6>SHIMANO NEXAVE FI 4000</h6>
                <div class="my-2 d-flex justify-content-center align-items-start">
                    <ul class="rating">
                        <li> <fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                        <li><fa-icon [icon]="faStar" class="fa-star"></fa-icon></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a routerLink="['/products', 2]">Mulinelli</a></h3>
                    <div class="price">100.00€
                        <span>220</span>
                    </div>
                    <a class="add-to-cart" routerLink="">+ Aggiungi al carrello</a>
                </div>
            </div>






        </div>


    </div>
</div>

<app-hr></app-hr>