<div class="container-fluid mt-5 font">
    <div class="row text-center">
        <div class="col-md-4">
            <app-asideutente></app-asideutente>
        </div>
        <div class="col-md-8">
            <h2>ORDER SUMMARY</h2>
            <div class="container-fluid  my-5">
                <div class="row">
                    <div class="col-md-2 text-center">

                        <img src="assets/images/2mulinello_abu_garcia_revo_ike_mike_iaconelli_2_1920x1920.png"
                            class="img-thumbnail" alt="...">
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <a href="abugarcia.html"> Mulinello Abu Garcia REVO IKE (Mike Iaconelli)</a>
                        
                    </div>
                    <div class="col-md-4 py-4 d-flex align-items-center">
                        <p>Il periodo utile per il reso è scaduto il 18 mag 2022</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-center">
                        <p  class="my-4"> 190,90€</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-center">

                        <img src="assets/images/ANCORETTE TROTA NATIVE.jpg" class="img-thumbnail" alt="...">
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <a routerLink="abugarcia.html"> Mulinello Abu Garcia REVO IKE (Mike Iaconelli)</a>
                    </div>
                    <div class="col-md-4 py-4 d-flex align-items-center">
                        <p>Il periodo utile per il reso è scaduto il 18 mag 2022</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-center">
                        <p  class="my-4"> 190,90€</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-center">

                        <img src="assets/images/FILI DA TERMINALI TRECCIATO.png" class="img-thumbnail" alt="...">
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <a routerLink="abugarcia.html"> Mulinello Abu Garcia REVO IKE (Mike Iaconelli)</a>
                    </div>
                    <div class="col-md-4 py-4 d-flex align-items-center">
                        <p>Il periodo utile per il reso è scaduto il 18 mag 2022</p>
                    </div>
                    <div class="col-md-2 d-flex align-items-center">
                        <p class="my-4"> 190,90€</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4">

        </div>

    </div>
</div>

<div class="container-fluid my-5 font">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>ACQUISTATI IN PRECEDENZA</h2>
        </div>


        <div class="col-md-2 d-flex flex-column text-center">
            <img src="../../../assets/images/artificiali.png" class="img-thumbnail" alt="...">
            <h5>Savage Gear Slider</h5>
            <span> 15.50€</span>
            <span>Ricevilo 4-5 lug Spedizione GRATUITA</span>
        </div>
        <div class="col-md-2 d-flex flex-column text-center">
            <img src="../../../assets/images/Mulinello Akami Kozor 8000.png" class="img-thumbnail" alt="...">
            <h5>Savage Gear Slider</h5>
            <span> 15.50€</span>
            <span>Ricevilo 4-5 lug Spedizione GRATUITA</span>
        </div>
        <div class="col-md-2 d-flex flex-column text-center">
            <img src="../../../assets/images/" class="img-thumbnail" alt="...">
            <h5>Savage Gear Slider</h5>
            <span> 15.50€</span>
            <span>Ricevilo 4-5 lug Spedizione GRATUITA</span>
        </div>

        <div class="col-md-2">
            <img src="../../../assets/images/artificiali.png" class="img-thumbnail" alt="...">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/images/artificiali.png" class="img-thumbnail" alt="...">
        </div>
        <div class="col-md-2">
            <img src="../../../assets/images/-borsa-pesca-3_1.jpg" class="img-thumbnail" alt="...">
        </div>

    </div>
</div>
<app-hr></app-hr>