<div class="row justify-content-center font mt-5 ">
    <div class="col-xxl-4 col-lg-5">
        <div class="card">
       

            <div class="card-header  text-center bg-gradient">
                <a href="index.html">
                    <span><img src="assets/images/logo_piccolo-removebg-preview.png" alt="" width="50em"></span>
                </a>
            </div>
            
            <div class="card-body p-4">
                
                <div class="text-center w-75 m-auto">
                    <h4 class="text-dark-50 text-center text-white mt-0 fw-bold">Reset Password</h4>
                    <p class="text-muted mb-4">Inserisci la tua Email e ti invieremo un link di recupero password!
                    </p>
                </div>

                <form action="#">
                    <div class="mb-3">
                        <label for="emailaddress" class="form-label">Email</label>
                        <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
                    </div>

                    <div class="mb-0 text-center">
                        <button class="btn btn-primary" type="submit">Invia</button>
                    </div>
                </form>
            </div> 
        </div>
        

        <div class="row mt-3">
            <div class="col-12 text-center">
                <p class="text-muted">Back to <a routerLink="modallogin" class="text-muted  ms-1"><b>LOGIN</b></a></p>
            </div> 
        </div>
      

    </div> 
</div>