.zoombanner{
    display: flex;
    justify-content: center;
    width: 95%;
    overflow: hidden;
    //     img  {   display: block;
     transition: transform  0.3s;
    // transition: all 0.3s linear;
    // // }
    &:hover{ transform: scale(1);

    }
}

.zoombanner {
    display: flex;
    justify-content: center;
    width: 95%;
    overflow: hidden;
  }
  
  .zoombanner img {
    display: block;
    transition: transform 0.3s;
  }
  
  .zoombanner:hover img {
    transform: scale(1.1);
  }
  


