
<div class="row py-3 d-flex align-items-center justify-content-center font">
  <div class="col-md-4 d-flex align-items-center justify-content-center ">
    <fa-icon [icon]="faccpaypal" class="mx-2 icon custom-paypal"></fa-icon>
    PAGA CON PAYPAL ED OTTIENI LA SPEDIZIONE GRATUITA
  </div>
  <div class="col-md-4 d-flex align-items-center justify-content-center">
    <a [href]="'https://api.whatsapp.com/send?phone=+391234567890'" target="_blank">
      <fa-icon [icon]="fawhatsapp" class=" mx-2 icon custom-whats"></fa-icon>
      </a>Richiedi assistenza whatsupp
    
  </div>

</div>
<div class="row font py-3">
  <div class="col-md-12 d-flex justify-content-center">
    <div class="zoombanner">
      <a href="https://fish.shimano.com/ja-JP/content/special_contents/23vanquish_en/index.html">
        <img src="../../../assets/images/banner2.PNG" class="img-fluid " alt="">
      </a>
    </div>
  </div>
</div>
<div class="row pb-2 d-flex align-items-center justify-content-around font">
  <div class="col-md-12 justify-content-center d-flex align-items-center">
    <div class="text-center">
      <div class="text-center">
        <a href="https://it-it.facebook.com/"> <fa-icon [icon]="faFacebook" class="icon custom-facebook mx-2"></fa-icon></a>
        <span>NON PERDERTI LE NOSTRE PROMOZIONI</span>
        <a href="https://www.instagram.com/"> <fa-icon [icon]="fainstagram" class="icon custom-instagram mx-2"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
<div class="row py-3 font">
  <div class="col-md-12 d-flex justify-content-center">
    <div class="zoombanner text-center">
      <a href="https://fish.shimano.com/it-IT/news/news-listing/Shimano-yasei.html">

        <img src="../../../assets/images/banner3.PNG" class="img-fluid" alt="">
      </a>
    </div>
  </div>
</div>