<!-- <div *ngFor="let categoria of categorie">
    <div *ngFor="let prodotto of categoria.prodotti">
        <span> Nome: {{prodotto.nome}} </span>
    </div>
</div> -->


<div class="container-fluid font">
    <div class="row">
        <div class="col-md-12">
          <video height="750px" class="w-100 object-fit-cover" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="assets/videos/video.mp4"  type="video/mp4">
          </video>
        </div>
    </div>
    <!-- <video  autoplay loop muted>
      <source type="video/mp4" src="assets/videos/video.mp4">
    </video> -->
</div>

<div class="container-fluid text-center my-3 font">
  <h2 class="text-white"><b>IN PROMOZIONE</b></h2>
<app-carousel></app-carousel> 
</div>



<app-banner></app-banner>

<div class="row py-3 font">
  <div class="col-md-12">
    <div class="text-center">

      <h2 class="text-white">VIENI A TROVARCI NELLA NOSTRA SEDE PRINCIPALE!</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.3626513447193!2d18.223792999999997!3d40.3343005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13442fce68eca171%3A0x408090d9efa204ff!2sCorso%20Italia%2C%2056%2C%2073023%20Merine%20LE!5e0!3m2!1sit!2sit!4v1686905025744!5m2!1sit!2sit"
        width="60%" height="400">
      </iframe>
    </div>
  </div>
</div>
<app-hr></app-hr>

<!-- <app-slidermarchi></app-slidermarchi> -->